<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{base_noNav::layout(~{::section})}">
<head>
</head>
<body>
<section>
    <div class="container-fluid">
        <div class="row justify-content-center align-items-center" style="height: 100vh;">
            <div class="col-md-6 text-center">
                <h1 class="text-white" th:text="${errorMessageTitle}"></h1>
                <p class="text-white" th:text="${errorMessageSubtitle}"></p>
                <a class="btn btn-primary" th:href="@{/}" role="button">Torna alla pagina principale</a>
            </div>
        </div>
    </div>

</section>
</body>
</html>