<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{base_noNav::layout(~{::section})}">
<head>
</head>
<body>
    <section>
        <div class="row justify-content-center pt-5">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header pt-3">
                        <h5 class="card-title text-center">Password dimenticata</h5>
                        <p class="text-center">Ciao! Se hai dimenticato la tua password o desideri cambiarla per qualche motivo, non ti preoccupare, siamo qui per aiutarti! Inserisci semplicemente il tuo indirizzo email nel campo sottostante e ti invieremo un link per reimpostare la tua password. Dopo aver cliccato sul link, potrai scegliere una nuova password e accedere nuovamente al tuo account. <br> Grazie per la tua fiducia e non esitare a contattarci in caso di problemi o domande!</p>
                        <div th:if="${session.msgErrorForgot != null}" class="alert alert-danger col-7 text-center mx-auto" role="alert">
                            <span th:text="${session.msgErrorForgot}"></span>
                        </div>
                    </div>
                    <div class="card-body">
                        <form th:action="@{/forgot}" method="post">
                            <div class="mb-3">
                                <label for="inputEmail" class="form-label">Indirizzo email</label>
                                <input type="email" class="form-control" id="inputEmail" name="email" placeholder="Inserisci il tuo indirizzo email" required>
                            </div>
                            <button type="submit" class="btn btn-primary">Recupera Password</button>
                            <a class="btn btn-primary" href="/signin" role="button">Torna alla pagina di login</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>