<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{base_nav::layout(~{::section})}">
<head>
</head>
<body>
<section>
    <div class="container-fluid">
        <div class="row pt-3">
            <!-- Parte sinistra - Colonna stretta -->
            <div class="col-md-4">
                <!-- Prima parte -->
                <div class="mb-4">
                    <!-- Contenuto della prima parte -->
                    <div class="card">
                        <!-- Contenuto della carta -->
                        <div class="card-header">
                            <h4 class="card-title text-center">[[${#dates.format(#dates.createNow(), 'dd/MM/yyyy')}]]</h4>
                        </div>
                    </div>
                </div>
                <!-- Seconda parte -->
                <div>
                    <!-- Contenuto della seconda parte -->
                    <div class="card">
                        <!-- Contenuto della carta -->
                        <div class="card-header">
                            <h4 class="card-title text-center"> Messaggi </h4>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Parte destra - Colonna larga -->
            <div class="col-md-8">
                <div class="card">
                    <!-- Contenuto della carta -->
                    <div class="card-header">
                        <h4 class="card-title text-center"> Tracking Attività Personale </h4>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>

</body>
</html>