<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{base_noNav::layout(~{::section})}">
<head>
</head>
<body>
    <section>
        <div class="row justify-content-center pt-5">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header pt-3">
                        <h5 class="card-title text-center">Reset Password</h5>
                        <p>Per cambiare la password, inserisci la nuova password nei riquadri sottostanti.</p>
                        <p>La password deve rispettare queste regole:</p>
                        <ul>
                            <li>Deve essere lunga almeno 8 caratteri</li>
                            <li>Deve contenere almeno un carattere numerico</li>
                            <li>Deve avere almeno un carattere minuscolo e uno MAIUSCOLO</li>
                            <li>Deve contenere almeno un carattere speciale (!@#$%^&*)</li>
                            <li>Non deve contenere spazi bianchi</li>
                        </ul>
                        <div th:if="${session.msgErrorResetPsw != null}" class="alert alert-danger col-7 text-center mx-auto" role="alert">
                            <span th:text="${session.msgErrorResetPsw}"></span>
                        </div>
                    </div>
                    <div class="card-body">
                        <form th:action="@{/reset/confirm}" method="post">
                            <div class="mb-3">
                                <label for="inputPassword" class="form-label">Nuova password</label>
                                <input type="password" class="form-control" id="inputPassword" name="password" placeholder="Inserisci la password" required>
                            </div>
                            <div class="mb-3">
                                <label for="inputConfermaPassword" class="form-label">Conferma password</label>
                                <input type="password" class="form-control" id="inputConfermaPassword" name="confirmPassword" placeholder="Ripeti la password" required>
                            </div>

                            <input type="hidden" name="code" id="code" th:value="${code}">

                            <button type="submit" class="btn btn-primary">Reimposta password</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>