<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{base_noNav::layout(~{::section})}">
<head>
</head>
<body>
<section>
    <div class="container-fluid">
        <div class="row justify-content-center align-items-center" style="height: 100vh;">
            <div class="col-md-6 text-center">
                <h1 class="text-white">Qualcosa è andato storto...</h1>
                <p class="text-white">Non è stata reimpostata la password o c'è stato un errore interno del server. Per favore contattaci se riscontri problemi.</p>
                <a class="btn btn-primary" href="/signin" role="button">Torna alla pagina di login</a>
            </div>
        </div>
    </div>

</section>
</body>
</html>